<span style="color: {{ block.settings.color }}">
{% assign variant = product.selected_or_first_available_variant %}
{%- assign rules = variant.metafields.volume-discount.function-configuration.value -%}
  {% if rules.size>0 %}
  <table>
    <thead>
      <tr>
        <td>Quantity</td>
        <td>Value</td>
      </tr>
    </thead>
    <tbody>
      {%- for rule in rules -%}
        <tr>
          <td>{{ rule.quantity }} or more</td>
          <td>
            {% if rule.discount_type == "F" %}
              {{ rule.discount_value | times: 100 | money_with_currency }} off
            {% endif %}
            {% if rule.discount_type == "P" %}
                {{ rule.discount_value }}% off 
            {% endif %}
            {% if rule.discount_type == "R" %}
                Price for each quantity will be {{ rule.discount_value | times: 100  | money_with_currency }}
            {% endif %}
            </td>
          </td>
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
  {% endif %}
</span>

{% schema %}
  {
    "name": "Bevy Bulk Discount Table",
    "target": "section",
    "enabled_on": {
      "templates": ["product"]
    },
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
      {
        "label": "Color",
        "id": "color",
        "type": "color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}
